.home-component {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}

.home-header {
  padding: 0%;
  margin: 0;
  position: absolute;
  right: 50%;
  top: 3%;
  translate: calc(50%);
  font-weight: 700;
  font-size: 2rem;
  color: royalblue;
  text-transform: uppercase;
  opacity: 0.8;
}

.timer {
  position: absolute;
  right: 8%;
  color: rgb(101, 100, 100);
  font-weight: 700;
  font-size: 1rem;
  width: 25rem;
  /* background-color: rgba(222, 61, 79, 255); */
  padding: 1rem;
  z-index: 1;
}

.poster-1 {
  /*width: 15vw; */
  height: 100vh;
  position: absolute;
  left: 0%;
  position: fixed;
}

.poster-2 {
  height: 100vh;
  position: absolute;
  right: 0%;
  position: fixed;
}
