.card {
  color: black;
}

.card-img {
  width: 100%;
}

.card-title {
  font-weight: 700;
  font-size: 1.5rem;
}

.card-list-item {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  font-weight: 600;
}

.card-span {
  color: gray;
}

.card-btn {
  color: white;
  background-color: royalblue;
  width: 10rem;
  margin-top: 10px;
  transition: all 0.1s ease-out;
  font-weight: 600;
}

.card-btn:hover {
  background-color: rgb(39, 90, 241);
  transform: scale(1.1);
}
