#card {
  width: 30rem;
  display: flex;
  flex-direction: row;
  font-size: 0.9rem;
  margin: 1rem auto 1rem;
}

.card-content {
  display: flex;
}

#card-body {
  display: flex;
  flex-direction: column;
  padding: 0;
  justify-content: space-between;
}

.card-img {
  width: 10rem !important;
  height: 10rem !important;
}

.card-title {
  font-weight: 700 !important;
  font-size: 1.5rem;
}

.card-list-item {
  display: flex;
  justify-content: space-between;
  margin: 8px;
  font-weight: 600;
}

.card-span {
  color: gray;
  margin-right: 0.5rem;
}
